.whole-game-board-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.board-upper-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
  /* background-color: antiquewhite; */
  border: 1px solid black;
}
.board-lower-section-container {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap !important;
}
.Market-stocks-block-container {
}
.owned-stocks-block-container {
  align-self: center;
}

.game-log-block-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.board-lower-section-timer-bar {
  align-self: center;
  width: 99%;
  height: 7px;
  border-radius: 10px;
  border: 1px black solid;
}
.vote-finito-btn {
  padding: 10px 30px;
  background: linear-gradient(
    to bottom,
    rgb(239, 99, 99) 0%,
    rgba(245, 194, 194, 0.51) 100%
  );
  border-radius: 10px;
  border: 1px solid black;
  justify-self: center;
  align-self: center;
  margin: 20px;
}
.progress-bar-actual {
  background: linear-gradient(
    to left,
    rgb(94, 243, 139) 0%,
    rgba(244, 97, 97, 0.683) 90%,
    rgb(248, 1, 1) 100%
  );
  transition: width 1s linear;
  height: 100%;
}
#my-Video-background {
  position: fixed;
}
