.App1 {
  text-align: center;
}
* {
  font-family: Arial;
  text-decoration: none;
  font-size: 20px;
}

.App-header1 {
  background-color: rgb(26, 26, 57);
  background: -moz-linear-gradient(
    left,
    rgba(26, 26, 57) 0%,
    rgba(78, 78, 149) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgb(26, 26, 57)),
    color-stop(100%, rgb(78, 78, 149))
  );
  background: -webkit-linear-gradient(
    left,
    rgb(26, 26, 57) 0%,
    rgba(78, 78, 149) 100%
  );
  min-height: 100vh;

  font-size: calc(10px + 2vmin);
  color: white;
}
.bigScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upperScreen {
  margin-top: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.upperTop {
  flex: 2;
  display: flex;
  flex-direction: row;
}
.upperBottom {
  flex: 1;
  top: 0;
}
.upperLeft {
  flex: 1;
}
.upperLeft text {
  font-size: 50px;
}
.settingsText {
  margin-left: 170px;
}
.upperRight {
  flex: 1;
}
.upperRight img {
  width: 180px;
  height: 180px;
  margin-right: -150px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 25px;
  line-height: 30px;
  outline: auto;
  width: 40%;
}
.bottomScreen {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
.bottomUp {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottomRight {
  flex: 1;
  border: #f2f2f2;
  border-style: dotted;
  max-width: 500px;
  margin-right: 50px;
}
.bottomRight text {
  font-size: 17px;
}
.bottomLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -600px;
}
.dropbtn {
  border-radius: 50%;
  min-width: 7%;
  background-color: #008fb3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  padding-inline: 10px;
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.bottomLow {
  flex: 1;
  margin-top: 70px;
}
.button1 {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  place-content: center;
  position: relative;
  bottom: 10%;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
}
.button1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button1:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button1:hover {
  color: #fff;
}
.button1:hover:before {
  width: 100%;
}
