.title{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}
* {
  font-family: Arial;
  text-decoration: none;
  font-size: 20px;
}

.title text{
  top: 0;
  font-family: "Brush Script MT", cursive;
  font-size: 50px;
}
.App-header {
  background-color: rgb(26, 26, 57);
  background: -moz-linear-gradient(
    left, 
    rgba(26, 26, 57) 0%, 
    rgba(78, 78, 149) 100%
  );
  background: -webkit-gradient(
    left top, 
    right top, 
    color-stop(0%, rgb(26, 26, 57)), 
    color-stop(100%, rgb(78, 78, 149))
  );
  background: -webkit-linear-gradient(
    left, 
    rgb(26, 26, 57) 0%, 
    rgba(78, 78, 149) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




.page {
  /* background: #e2e2e5; */
  display: flex;
  flex-direction:column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(50% - 40px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 50%;
  margin: 0 auto;
  width: 100%;
  flex-wrap: nowrap;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;

  width: 100%;

}
@media (max-width: 767px) {
  .left {
   
    height: 70%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
  
}
.login {
  
  font-weight: 900;
  margin: 25px 40px 40px;
  display: flex;
  flex-direction: column;
  
}
.login-image{
  flex: 2;
}
.login-text{
  flex: 1;
  margin-top: -20px;
}
.login-text text{
  
  font-size: 50px;
}
.login-image img{
  margin-top: 5px;
  width: 100%;
  height: 90%;
}


.login text{
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 70px;
   bottom: 60%; 
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 100%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 100;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}

.form {
  margin: 100px;
  position: relative;
 
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 20px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.form input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline:auto;
  width: 100%;
}
.App{
  width: 15%;
  margin: auto;
}
.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  margin-left: -5%;
  place-content:center;
  position:absolute;
  bottom:10%;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}
