.marketStyle {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      to bottom,
      rgba(245, 230, 230, 1),
      rgba(217, 217, 217, 0)
    );
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid black;
  }
  
  .marketLabelStyle {
    color: #262626;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
