.main-stock-price-container{
    width: 250px;
    margin: 30px;
    background:linear-gradient(
        to bottom,
        rgba(245, 230, 230, 1),
        rgba(217, 217, 217, 0)
      );
    padding:20px;
    border-radius: 10px;
    border: 1px solid black;
}

.stock-ph-name{
    font-size: 12px;
}
.tock-ph-img{
    width: 30%;
    text-align: right;
}