.main-stock-price-container{
    position: relative;
    width: 300px;
    margin: 30px;
    background:linear-gradient(
        to bottom,
        rgba(245, 230, 230, 1),
        rgba(217, 217, 217, 0)
      );
    padding:20px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.main-stock-price-container img{
     width: 100px;
     height: 100px;
     opacity: 0.6;

}
.stock-ph-name{
    font-size: 12px;
}
.tock-ph-img{
    width: 30%;
    text-align: right;
}
.stock-history-background-graph{
    position: absolute;
    width: 68%;
    left: 60px;
    left:0;
    bottom:0;
}
.stock-ph-info p{
    margin: 0px;
}
.stock-ph-Title{
    font-weight: bold;
}