
.stock-change{
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
